
@font-face{
	font-family: Myfont;
	src: url("./font.otf");
}

html {
	background-color: white;
}



.title {
	float:left;
	font-family: Myfont;
	border-bottom: 2px solid black;
}

.sidenav{
	font-family: Myfont;
	float: right;
	font-size: 55px;
	border-bottom: 2px solid black;
}

.sidenav a{
	
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	display: black;
}

a {
	color: black;
}

.par {
	display: block;
	text-align: center;
	font-family: Myfont;
	position: absolute;
	font-size: 30px;
	top: 250px;
	left: 200px;
}

.gallery_img {

	display: block;
	margin-left:auto;
	margin-right:30%;
	width:25%;
	object-fit: cover;
	position: relative;
	top: 150px;

}

.about {
	display: block;
	text-align: center;
	font-family: Myfont;
	position: absolute;
	font-size: 30px;
	top: 250px;
	left: 50px;
}